<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单输入绑定--v-model</title>
    <script src="../static/js/vue.js"></script>
    <style>
        #app div {
            margin-bottom: 30px;
        }
        .self-introduction {
            width: 400px;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="app">
    <h2>
        表单输入绑定
    </h2>
    <form action="./register.html" method="post">
        <div>
            <label>
                用户：<input type="text" v-model="username">
            </label>
        </div>

        <div>
            <label>
                密码：<input type="password" v-model="pwd">
            </label>
        </div>

        <div>

            性别：
            <label>
                <input type="radio" value="0" v-model="gender">女
            </label>
            <label>
                <input type="radio" value="1" v-model="gender">男
            </label>

        </div>
        <div>

            爱好：
            <label>
                <input type="checkbox" value="basketball" v-model="hobby">篮球
            </label>
            <label>
                <input type="checkbox" value="football" v-model="hobby">足球
            </label>
            <label>
                <input type="checkbox" value="volleyball" v-model="hobby">排球
            </label>
        </div>
        <div>
            城市：
            <select v-model="city">
                <option disabled value="">请选择一个</option>
                <option value="wuhan">武汉</option>
                <option value="handan">邯郸</option>
                <option value="nanjing">南京</option>
            </select>
        </div>
        <div>
            喜欢的电影：
            <select multiple="multiple" v-model="movies">
                <option disabled value="">可选择多个</option>
                <option value="1100">我要我们在一起</option>
                <option value="1101">坏蛋联盟</option>
                <option value="1102">长津湖之水门桥</option>
                <option value="1103">少年英雄董存瑞</option>
                <option value="1104">神秘海域</option>
                <option value="1105">奇迹.笨小孩</option>
            </select>
        </div>
        <div>
            介绍：<textarea class="self-introduction" placeholder="自我介绍" v-model="introduction"></textarea>
        </div>
        <div>
            头像：
            <input type="file" v-model="avatarPicture">
        </div>
    </form>
</div>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            username: "",
            pwd: "",
            gender: "0",
            hobby: [],
            city: "",
            movies: [],
            introduction: "",
            avatarPicture: ""
        }
    });
</script>
</body>
</html>