<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单输入绑定--v-model</title>
    <script src="../static/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #app div {
            margin-bottom: 30px;
        }
        .self-introduction {
            width: 400px;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="app">
    <h2>
        表单输入绑定
    </h2>
    <div>
        <div>
            <label>
                用户：<input type="text" v-model="username">
            </label>
        </div>

        <div>
            <label>
                密码：<input type="password" v-model="pwd">
            </label>
        </div>
        <div>
            头像：
            <input type="file" @change="getFile($event)">
        </div>
        <div>

            性别：
            <label>
                <input type="radio" value="0" v-model="gender">女
            </label>
            <label>
                <input type="radio" value="1" v-model="gender">男
            </label>

        </div>
        <div>

            爱好：
            <label>
                <input type="checkbox" value="basketball" v-model="hobby">篮球
            </label>
            <label>
                <input type="checkbox" value="football" v-model="hobby">足球
            </label>
            <label>
                <input type="checkbox" value="volleyball" v-model="hobby">排球
            </label>
        </div>
        <div>
            城市：
            <select v-model="cityId">
                <option disabled value="">请选择一个</option>
                <option v-for="(city, index) in citysInfo" :key="index" :value="city.id">{{city.name}}</option>
            </select>
        </div>
        <div>
            喜欢的电影：
            <select multiple="multiple" v-model="selectMovies">
                <option disabled value="">可选择多个</option>
                <option v-for="(m, i) in moviesInfo" :key="i" :value="m.id">{{m.title}}</option>
            </select>
        </div>
        <div>
            介绍：<textarea class="self-introduction" placeholder="自我介绍" v-model="introduction"></textarea>
        </div>
        <div>
            <button @click.prevent="submitForm">注册</button>
        </div>
    </div>
</div>
<script>
    Vue.prototype.$http = axios;
    const vm = new Vue({
        el: "#app",
        data: {
            username: "",
            pwd: "",
            gender: "0",
            hobby: [],
            citysInfo: [{id: 11, name: "武汉"}, {id: 22, name: "邯郸"}, {id: 33, name: "南京"}],
            cityId: "",
            moviesInfo: [
                {id: 1100, title: "我要我们在一起"},
                {id: 1101, title: "坏蛋联盟"},
                {id: 1102, title: "长津湖之水门桥"},
                {id: 1103, title: "少年英雄董存瑞"},
                {id: 1104, title: "神秘海域"},
                {id: 1105, title: "奇迹.笨小孩"}
                ],
            selectMovies: [],
            introduction: "",
            avatarPicture: ""
        },
        methods: {
            getFile(event) {
                this.avatarPicture = event.target.files[0];
            },
            submitForm(event) {
                var formData = new FormData();
                formData.append("username", this.username);
                formData.append("pwd", this.pwd);
                formData.append("gender", this.gender);
                formData.append("hobby", this.hobby);
                formData.append("cityId", this.cityId);
                formData.append("selectMovies", this.selectMovies);
                formData.append("introduction", this.introduction);
                formData.append("avatarPicture", this.avatarPicture);

                var config = {
                    headers: {
                        "content-type": "multipart/form-data"
                    }
                };

                // this.$http.post(上传URL, 要上传的数据, 配置)
                this.$http.post("/upload", formData, config)
                    .then(function (res) {
                        if (res.status === 200) {
                            // 上传成功后的处理
                        }
                    });
            }
        }
    });
</script>
</body>
</html>